#create-product-container, #create-category-container {
    display: none;
}

.product {
    display: flex;
    border: 1px solid red;
    min-width: fit-content;
    gap: 1rem;
    flex-wrap: wrap;
}

.product-image {
    max-height: 256px;
    max-width: 256px;
}