#create-product-container, #create-category-container {
    display: none;
}

.product {
    border: 1px solid red;
    min-width: fit-content;
}

.product-image {
    max-height: 64px;
    max-width: 64px;
}