#create-product-container, #create-category-container {
    display: none;
}

.product {
    display: flex;
    border: 1px solid black;
    min-width: fit-content;
    gap: 1rem;
    flex-wrap: wrap;
}

.product-image {
    max-height: 256px;
    max-width: 256px;
}

.no-inventory-text {
    color: red;
}

/* Shop / cart visibility */

.mode-shop .cart-only { display: none; }
.mode-cart .shop-only { display: none; }